 body {
      font-family: Helvetica;
      background-color: #fff;/*#f0f0f0;*/
      font-weight: lighter;
      margin: 0px;
      width:100%;
      height:100%x;
    }
    a {
      color:#393;
    }
    #gl {
      position:fixed;
      bottom:0px;
      top:0px;
      left:0px;
      right:0px;
    }
    #inspector {
      top:10px;
      left:10px;
      box-shadow: 2px 2px 5px #888888;
      border-radius:8px;
      position:absolute;
      background-color:#fafafa;
      padding:10px;
      border-style:solid;
      border-width:1px;
      border-color:#ccc;
    }
    #inspector ul {
      padding:0px;
    }
    #inspector ul li {
      margin-left:5px;
      margin-right:5px;
      margin-bottom:5px;
      list-style:none;
      cursor: pointer;
      color:#393
    }
    #inspector ul li:hover {
      color:#994444;
    }
    #inspector h1 {
      font-weight:normal;
      font-size:12pt;
    }
